*{
    color: white;
    text-align: center;
}

#content {
  font-size: 180%;
  margin: 0 15vw 10vh 15vw;
}

#Main-Text{
position: relative;
top: 30px;
}
#fig2text{
    width: 200px;
    position: relative;
    left: 600px;
}
#parallax {
        background-image: url(image.png);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        min-width: 100vw;
        min-height:100vh;
        position:absolute;
        top: 0px;
        left: 0px;
  }
  body {
    /*display: flex;
    justify-content: flex-end;
    flex-direction: column;*/
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
  }
 
  body::-webkit-scrollbar {
    display: none;
  }

  .subcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .div {
    background-color: rgba(29, 99, 92, 0.759);
    padding: 25px;
    border-radius: 10px;
    margin: 10px
  }

  .cap {
    background-color: rgba(29, 99, 92, 0.759);
    padding: 25px;
    border-radius: 10px;
  }

  img {
    width: 110%;
    margin: 0 20px;
  }

  #navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-position: inside;
    line-height: 200%;
    font-size: 150%;
  }
  
  #navbar li {
    float: left;
  }
  
  #navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #111;
  }